*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* background-color: #111827; */
    /* background-color: rgb(11, 10, 45) ; */
  }
    body {
      background-image: url('/assets/imagens/fondo.jpg');
      background-size:cover;
    }
    
  

  .header {
    display: flex;
    justify-content: space-around;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    padding: 20px;
  }

  .img{
    padding-top: 40px;
  }
  
  .logo {
    /* display: block; */
    /* max-width: 100%; */
    /* height: auto; */
    border-radius: 50%;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    min-width: 600px;
    justify-content: space-between;
    text-transform: uppercase;
  }
  
  
  nav ul li a {
    color: #fbf9f9;
    text-decoration: none;
    /* font-weight: bold; */
    font-size: 18px;
    transition: color 0.2s ease-in-out;
  }
  
  nav ul li a:hover {
    color: rgb(240, 244, 8);
  }


  @media (max-width: 768px) {
    nav {
      display: none;
    }



    
    /* mostrar el botón de hamburguesa */
    .icono {
      display: block;
    }
  }
  
  /* ocultar el botón de hamburguesa en pantallas más grandes */
  @media (min-width: 769px) {
    .icono {
      display: none;
    }
  }
  
  .container {
    display: flex;
    justify-content: space-around;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    align-items: center;
    padding: 20px;
    height: 80vh;
  }

  .texto{
    text-align: center;
  }
  
  .container > div {
    width: 50%;
    margin: 0 50px;
    font-size: 30px;
    color: white;

  }

.imgprincipal{
  border: 3px solid black;
  margin: 20;
  border-radius: 10px;
}

  @media (max-width: 768px) {
    .container {
      flex-direction: column;
      height: auto;
      margin-bottom: 20px;
    

    }
    
  }

  .tarjetas{
    display: flex;
    justify-content: space-around;
    /* max-width: 1100px; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 50px;
    height: 100%;
    margin-bottom: 200px;
    /* background-color: white; */

  }

  .tarjeta1{
    border: 3px solid rgb(7, 7, 7);
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 10px;
  }
  
  .tarjeta2{
    border: 3px solid rgb(7, 7, 7);
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 10px; 
  }

  .tarjeta3{
    border: 3px solid rgb(7, 7, 7);
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 10px;
  }

  /* aqui el media de las tarjetas */
  @media (max-width: 850px) {
    .tarjetas {
      flex-direction: column;
      align-items: center;
      height: auto;
      margin-bottom: 20px;

    }
    .tarjeta1{
      margin-bottom: 20px;
    }
    .tarjeta2{
      margin-bottom: 20px;
    }
  }



  .container2{
    display: flex;
    justify-content: space-between;
    max-width: 1100vh;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 10px;
    align-items: center;
    /* padding: 20px; */
    height: 80vh;
    color: white;
  }

  .partes{
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
    border: 2px solid black;


  }

  .descripcion{
    line-height: 40px;
    text-transform: uppercase;
    /* align-items: center;
    justify-content: center; */
    padding-top: 60px;
    text-align: center;
  }



  @media (max-width: 768px) {
    .container2 {
      flex-direction: column;
      align-items: center;
      height: auto;
      margin-bottom: 20px;

    }

    div .piesas{
      align-items: center;
    }
  }

  footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
  }

  .divfooter{
    color: white;
    padding-bottom: 40px;
    border-top: 1px solid white;
    width: 100%;
    text-align: center;
    padding: 20px;
  }

  .h3footer{
    color: white;

  }

  





  